body {
  overflow-y: hidden;
  font-size:14px !important;
}

.header {
  background-color: #ffffff;
  border-bottom: 0.7px solid #dbdbdb;
}

.menu {
  background-color: #eee;
  color: #5f5d5d;
  overflow: auto;
}

.function {
  background-color: #f8f8f8;
  height: calc(100vh - 51.7px);
}

.function-content {
  overflow-y: auto;
  height: calc(100vh - 101.7px);
}

.form {
  line-height: 16px;
}

.page-container {
  height: 100vh;
}

.function-title {
  border-bottom: 0.7px  #dbdbdb solid;
  background-color: white;
  height: 40px;
  line-height: 40px;
}

.sub-title {
  font-size: 18px;
}

.search {
  font-size: 15px;
}
.search input {
  border-radius: 10px;
  border: 1px solid #eee;
  padding: 5px 15px;
  padding-right: 27px;
  background: white;
  border: none;
}
.search input:focus {
  outline: none;
  border-color: #76abd9;
  -webkit-box-shadow: 0 0 7px 0 #247ba0;
  box-shadow: 0 0 7px 0 #247ba0;
  outline-color: #9013fe;
}
.search .fa-search {
  position: relative;
  left: 180px;
  top: -30px;
}

.header-img {
  background:url('../img/logo.png');
  width: 140px;
  height: 35px;
  background-size: 140px 35px;
  cursor: pointer;
}

.header-img-xs {
  background:url('../img/logo.png');
  width: 38px;
  height: 35px;
  background-size: 140px 35px;
  cursor: pointer;
}

.switch-menu {
  cursor: pointer;
}

.btn-green {
  background-color: #67c23a;
  border-color: #67c23a;
}

.menu .nav-item:hover{
	cursor:pointer;
	color:#03A9F4;
}


body{
  display:flex;
  align-items:center;
  background-color: #f5f5f5 !important;
}

html,body{
  height:100%;

}

.login-container{
  margin:auto;
}

.login-form{
  min-width:330px;
  line-height:0.5;
}
.login-form label{
  line-height:1;
}

.login-logo{
  background:url('../img/logo.png');
  width:200px;
  height:55px;
  background-size:200px 55px;
}

.user-info-xs, .user-info{
  color:#206c96;
}

.info{
  color: #4CAF50;
  font-size:18px;
}

.can-click{
  cursor:pointer;
}

.menu-list{
  list-style: none;
}

.menu-parent{
  line-height: 40px;
}

.menu-parent  li{
  line-height: 20px;
}

@media (max-width: 991px){
  body {
    overflow-y: auto !important;
  }
  .menu ul li{
    text-align: center;
  }
  .function-title{
    font-size: 14px;
  }
}


input:not([disabled]):checked ~ .checkbox-display {
  background: white;
}
.checkbox-display:after {
  content: '';
  position: absolute;
  display: none;
}
.list-item-checkbox input:checked ~ .checkbox-display:after {
  display: block;
}

.checkbox-display {
  position: relative;
  height: 24px;
  width: 24px;
  background: #ffffff;
  margin: 0px auto;
  text-align: center;
  border-radius: 2px;
  border: 0.5px #064e88 solid;
}


.list-item-checkbox .checkbox-display:after {
  left: 8px;
  top: 6px;
  width: 6.5px;
  height: 10px;
  border: solid #03467b;
  border-width: 0 1.5px 1.5px 0;
  transform: rotate(45deg);
}

.list-item-checkbox {
  display: block;
  cursor: pointer;
  width: 24px;
  height: 24px;
  text-align: center;
  margin: 0px auto;

}


.table td, .table th {
  vertical-align: middle !important;
  line-height: 18px;
  min-width: 150px;
}
.td-actions{
  width: 150px;
}
.table-select,.table-click, .table-unpage{
  height: 250px;
  overflow: auto;
}

.table-unpage-xl{
  height: 450px;
  overflow: auto;
}

.table-click tbody tr:hover{
  background-color: #00bcd4 !important;
  color: white;
  cursor: pointer;
}

.focus{
color:#03A9F4;
}

.disabled{
  cursor:not-allowed;
  pointer-events: none; 
  color:#bbb8b8;
}

.checkbox-display.disabled{
  border: 0.5px #bbb8b8 solid;
}


.table thead th, .table thead td, .table td, .table th{
  border:none !important;
}

th,td{
  text-align: left !important;
}

.lang-table{
  height: 300px;
}

.user-menu{
  width:200px;
}

.height-100{
    height:100px;
}
.height-200 {
    height: 200px;
}
.margin-0{
  margin:0px !important;
}
.padding-0{
  padding: 0px !important;
}
.input-center{
  text-align: center !important;
}

.width-100{
  width: 100px;
}

.breadcrumb-item+.breadcrumb-item::before {
  content: "\f105" !important;
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 900 ;
}

.font-size-big{
  font-size:32px;
}

.radio-text{
  line-height: 24px;
}

.two-line-height{
  height:60px;
}

.ui-datepicker-trigger{
  width: 0px;
  height: 0px;
  padding:0px;
  margin: 0px;
  border:none;
  opacity: 0;
}

.ui-datepicker-trigger:focus{
  outline: none;
}

.ui-state-default{
  text-align: center !important;
  border: none !important;
  background: none !important;
}