$color-primary: #9013fe;
$color-header: #247ba0;
body{
  overflow-y:hidden;
}
.header{
  background-color:#ffffff;
  border-bottom:0.7px solid #dbdbdb;
}
.menu{
  background-color:#eee;
  color:gray;
  //min-width:256px;
}

.function{
  background-color:#f8f8f8;
  height:calc(100vh - 51.7px);
}
.function-content{
  overflow-y:auto;
   height:calc(100vh - 101.7px);
}
.form{
      line-height: 10px;
}
.page-container{
  height:100vh;
}
.function-title{
  border-bottom:0.7px  #dbdbdb solid;
  background-color:white;
  height:45px;
  line-height:45px;
}
.sub-title{
  font-size:18px;
}

.search{
  font-size:15px;
  //padding-left:10px;
  input{
     border-radius:10px;
    border:1px solid #eee;
    padding:5px 15px;
    padding-right:27px;
    background:white;
    border:none;
     
        &:focus{
      outline:none; 
           border-color: #76abd9;
    -webkit-box-shadow: 0 0 7px 0 $color-header;
    box-shadow: 0 0 7px 0 $color-header;
    outline-color:$color-primary;
    }
  }

  .fa-search{
    position:relative;
    left:180px;
    top:-30px;
  }
}


.header-img{
  background:url('../img/logo.png');
  width:140px;
  height:35px;
  background-size:140px 35px;
}

.header-img-xs{
  background:url('../img/logo.png');
  width:38px;
  height:35px;
  background-size:140px 35px;
}


.switch-menu{
  cursor:pointer;
}

.btn-green{
  background-color:#67c23a;
  border-color:#67c23a;
}